.parent-div {
  background-color: white;
  color: black;
  width: 1200px;
}

.cart-headings-div {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "product-h4 price-h4 quantity-h4 total-price-h4";
}

.headings-div {
  display: flex;
  justify-content: space-around;
}

.product-h4 {grid-area: product-h4;}

.price-h4 {grid-area: price-h4;}

.quantity-h4 {grid-area: quantity-h4;}

.total-price-h4{grid-area: total-price-h4;}

/* .cart-items {

  display: flex;
  position: relative;
} */

.main-wrapper {display: flex;}

.item-img {width: 70px;}

.description-wrapper {grid-area: description-wrapper;}

.price-wrapper {
  grid-area: price-wrapper;
  /* position: absolute;
  left: 245px; */
}

.quantity {
  grid-area: quantity;
  /* position: absolute;
  left: 440px;
  top: 20px; */
  padding: 10px;
}

.total-price {
  grid-area: total-price;
  /* position: absolute;
  right: 28px; */
}