.shipping-component-parent-div {
  grid-area: cart;
  height: 640px;
  width: 1000px;
}

.shipping-title > h4,
.shipping-method-title > h4 {
  text-align: start;
  margin: 0;
  margin-left: 10px;
}

.flex {
  display: flex;
}

.input-height {
  height: 58px;
  align-items: end;
}

.error {
  margin-left: auto;
  color: red;
  font-size: 14px;
}

.flex > h5, 
.flex > p {
  margin: 10px;
  margin-bottom: 0;
}

.address-title-field {
  width: 40%;
  margin-left: 36px;
}

.name-field {width: 40%;}

.address-title-field > h5 {margin-right: 47px;}
.address-title-field > input,
.name-field > input {
  height: 25px;
  align-self: center;
  width: 98%;
}

.address-field {
  margin-left: 36px;
  width: 79%;
}

.address-field > input {
  height: 25px;
  align-self: center;
  width: 99%;
 
}

.zip-code-field {margin-left: 78px;}

.zip-code-field > input {
  height: 25px;
  align-self: center;
  width: 70px;
}

.country-select-div > select,
.city-select-div > select {
  width: 170px;
  height: 30px;
  align-self: center;
  background-color: lightgrey;
}

.state-select-div > select {
  height: 30px;
  align-self: center;
  width: 142px;
  background-color: lightgrey;
}

.cellphone-field {
  margin-right: 10px;
  margin-left: 61px;
}

.cell-area-code-input {
  width: 70px;
  height: 25px;
  align-self: center;
  /* margin-right: 10px;
  margin-left: 60px; */
}


.cellphone-input,
.phone-input {
  width: 252px;
  height: 25px;
  align-self: center;
}

.phone-field {
  margin-right: 10px;
  margin-left: 64px;
}

.phone-area-code-input {
  width: 70px;
  height: 25px;
  align-self: center;
  /* margin-right: 10px;
  margin-left: 64px; */
}

.shipping-method-div {
  position: relative;
  height: 200px;
}

.standard-option {margin-left: 10px;}

.standard-option > p {
  font-size: 18px;
  align-self: center;
  margin: 0;
}

.standard-option > h5 {
  align-self: center;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.express > h5 {margin-right: 25px;}

.back-btn {
  position: absolute;
  left: 25px;
  bottom: 0px;
}

.back-btn > input {
  background-color: white;
  width: 130px;
  height: 50px;
  font-weight: 800;
  cursor: pointer;
}